<a href="https://colab.research.google.com/github/xorToja/data-science-bootcamp/blob/master/02_analiza_danych/01_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.__version__

'1.0.5'

### <a name='a1'></a>  Podstawowe struktury danych: pd.Series

In [2]:
s = pd.Series(data=[3, 2, 4, 6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [3]:
s = pd.Series(data=[3, 2, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [4]:
s = pd.Series(data=[3., 2, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [5]:
import numpy as np

s = pd.Series(data=[3., np.nan, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [6]:
s = pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [13]:
s = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [14]:
s.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [8]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [ ]:
s.dtypes

dtype('int64')

In [15]:
s = pd.Series(data=['python', 'java', 'sql'], name='languages')
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [10]:
type(s)

pandas.core.series.Series

In [11]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [16]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [17]:
s.dtypes # jeżeli tekst to da duże o (object)

dtype('O')

In [18]:
s.shape

(3,)

In [27]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900, 'KGHM' : np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [23]:
price['CD Projekt']

60

In [24]:
price[1]

60

In [25]:
price.count() # zliczy liczbę elementów series

3

In [28]:
price.value_counts(dropna=False) # zwraca ile razy wystąpiły konkretne wartości, False sprawia że policzy też NaN

NaN       1
1900.0    1
60.0      1
200.0     1
dtype: int64

In [ ]:
price.sum()

2160

In [ ]:
price.min()

60

In [ ]:
price.max()

1900

In [ ]:
price.std()

1024.3046421841502

In [ ]:
price.describe() # nie zwraca informacji o NaN, zostało pominięte we wszelkich obliczeniach (w tym w count)

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [29]:
price.nlargest(2) # dwa najdroższe obiekty

Amazon    1900.0
Apple      200.0
dtype: float64

In [ ]:
price.nsmallest(2)

CD Projekt     60.0
Apple         200.0
dtype: float64

In [ ]:
price.rank() # sortuje od najmniejszego do największego, zwraca z tego ranking

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [ ]:
price.sort_values() # sortuje wartości

CD Projekt      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [30]:
price_pln = price.apply(lambda x: x * 3.8) # każdą wartość w serii przerobi w odpowiedni sposób

In [31]:
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [32]:
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

### <a name='a2'></a>  Podstawowe struktury danych: pd.DataFrame

In [33]:
df = pd.DataFrame(data=[12, 12, 32])
df

    0
0  12
1  12
2  32

In [34]:
df = pd.DataFrame(data=[12, 12, 32], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [35]:
df = pd.DataFrame(data={'WIG20': ['PKN ORLEN', 'PKO BP'],
                        'mWIG40': ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [36]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [ ]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [ ]:
df.index

Index(['first', 'second'], dtype='object')

In [ ]:
df.values

array([[10, 12, 13],
       [23, 12, 10]])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
col_1    2 non-null int64
col_2    2 non-null int64
col_3    2 non-null int64
dtypes: int64(3)
memory usage: 144.0+ bytes

In [ ]:
df.describe()

           col_1  col_2     col_3
count   2.000000    2.0   2.00000
mean   16.500000   12.0  11.50000
std     9.192388    0.0   2.12132
min    10.000000   12.0  10.00000
25%    13.250000   12.0  10.75000
50%    16.500000   12.0  11.50000
75%    19.750000   12.0  12.25000
max    23.000000   12.0  13.00000

In [ ]:
df.describe().T

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  16.5  9.192388  10.0  13.25  16.5  19.75  23.0
col_2    2.0  12.0  0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  11.5  2.121320  10.0  10.75  11.5  12.25  13.0

### <a name='a3'> </a> Selekcja kolumn

In [37]:
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [38]:
df['col_1']

first     10
second    23
Name: col_1, dtype: int64

In [ ]:
type(df['col_1'])

pandas.core.series.Series

In [ ]:
df[['col_1']] # żeby wyciąć series jako dataframe używamy notacji z podwójnym nawiasem kwadratowym

        col_1
first      10
second     23

In [ ]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [40]:
df.columns = ['a', 'sprzedaz_grudzien', 'c']
df

         a  sprzedaz_grudzien   c
first   10                 12  13
second  23                 12  10

In [41]:
df.sprzedaz_grudzien

first     12
second    12
Name: sprzedaz_grudzien, dtype: int64

In [42]:
df['d'] = df.a + df.c
df

         a  sprzedaz_grudzien   c   d
first   10                 12  13  23
second  23                 12  10  33

In [43]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [44]:
df.loc['first'] # metoda do wycinania danych (wycinanie po nazwach)

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [46]:
df.iloc[0] # iloc umozliwia wyciecie po numerze indeksu

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [ ]:
df.loc['first', 'col_2'] # wycinamy pojedyncza wartosc

12

In [ ]:
df.loc[:, 'col_2']

first     12
second    12
Name: col_2, dtype: int64

In [ ]:
df.iloc[0]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [ ]:
df.iloc[0, 1]

12