<a href="https://colab.research.google.com/github/xorToja/data-science-bootcamp/blob/master/02_analiza_danych/04_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# import bibliotek

In [ ]:
import numpy as np
import pandas as pd

# załadowanie danych

In [ ]:
def fetch_financial_data(company='AMZN'):
  """
  Pobiera dane dotyczące notowań spółek na giełdzie
  według symboli na serwisie stooq.pl
  """
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [ ]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 334 entries, 2020-09-03 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    334 non-null    float64
 1   High    334 non-null    float64
 2   Low     334 non-null    float64
 3   Close   334 non-null    float64
 4   Volume  334 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 15.7 KB

In [ ]:
apple.head()

              Open    High     Low   Close     Volume
Date
2020-09-03  126.91  128.84  120.50  120.88  257599640
2020-09-02  137.59  137.98  127.00  131.40  200118991
2020-09-01  132.76  134.80  130.53  134.18  152470142
2020-08-31  127.58  131.00  126.00  129.04  225702688
2020-08-28  126.01  126.44  124.58  124.81  187629916

# preprocessing

In [ ]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [ ]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2020-09-03      34.08     34.740   32.9500       33.41     17288823
2020-09-02      34.21     34.505   33.2900       34.37     16552685
2020-09-01      33.45     34.510   33.1450       34.30     16026170
2020-08-31      33.62     33.920   33.1401       33.63     14980621
2020-08-28      33.00     33.940   32.8200       33.80     17833021

# konkatenacja danych

In [ ]:
df = pd.concat(objs=[apple, amazon, google, uber], axis = 1) # względem daty

In [ ]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}') # zmiana formatowania z naukowego na float
df.describe()

       apple_open  apple_high  apple_low  ...  uber_low  uber_close  uber_volume
count     1258.00     1258.00    1258.00  ...    334.00      334.00       334.00
mean        44.63       45.10      44.20  ...     32.96       33.73  24932588.41
std         19.99       20.29      19.69  ...      5.72        5.64  20252172.03
min         21.12       21.51      21.00  ...     13.71       14.82   3380003.00
25%         27.65       27.80      27.45  ...     29.39       30.08  10390604.25
50%         41.38       41.80      40.95  ...     32.01       32.77  20778784.50
75%         51.76       52.48      51.31  ...     36.27       37.01  32729744.75
max        137.59      137.98     130.53  ...     45.08       46.38 186322536.00

[8 rows x 20 columns]

In [ ]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [ ]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [ ]:
df[closes].corr() # korelacja tylko dla kolumn zamknięcia

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.93          0.93       -0.30
amazon_close         0.93          1.00          0.95       -0.10
google_close         0.93          0.95          1.00       -0.18
uber_close          -0.30         -0.10         -0.18        1.00

In [ ]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [ ]:
df[closes].corr()

               apple_close  apple_volume  ...  uber_close  uber_volume
apple_close           1.00         -0.00  ...       -0.30         0.10
apple_volume         -0.00          1.00  ...       -0.37         0.37
amazon_close          0.93         -0.05  ...       -0.10        -0.03
amazon_volume         0.11          0.43  ...       -0.26         0.29
google_close          0.93         -0.12  ...       -0.18         0.08
google_volume         0.06          0.44  ...       -0.26         0.35
uber_close           -0.30         -0.37  ...        1.00        -0.31
uber_volume           0.10          0.37  ...       -0.31         1.00

[8 rows x 8 columns]

# Metoda append()

In [24]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2020-09-03      34.08      34.74     32.95       33.41     17288823
2020-09-02      34.21      34.51     33.29       34.37     16552685
2020-09-01      33.45      34.51     33.15       34.30     16026170
2020-08-31      33.62      33.92     33.14       33.63     14980621
2020-08-28      33.00      33.94     32.82       33.80     17833021

In [28]:
uber_6 = uber[uber.index.month == 6]
uber_6.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2020-06-30      30.83      31.25     30.13       31.08     21282810
2020-06-29      29.51      29.75     28.39       29.63     20795402
2020-06-26      30.44      30.44     29.21       29.61     46482331
2020-06-25      30.00      30.86     29.56       30.58     19142789
2020-06-24      32.75      32.93     30.45       30.46     29477229

In [27]:
uber_7 = uber[uber.index.month == 7]
uber_7.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2020-07-31      30.40      30.42     29.79       30.26     16360999
2020-07-30      30.65      30.68     29.97       30.24     13062912
2020-07-29      30.92      31.26     30.77       31.02      8215892
2020-07-28      30.79      31.24     30.35       30.81     12977145
2020-07-27      31.21      31.60     30.75       30.99     10182302

In [30]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7.head()
uber_6_7.tail()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998